In [ ]:
import requests
import pandas as pd

BASE_URL = "https://www.fema.gov/api/open/v2/FimaNfipClaims"

def query_nfip_claims(filter_str=None, top=1000, skip=0, select=None):
    params = {
        "$top": top,
        "$skip": skip
    }
    if filter_str:
        params["$filter"] = filter_str
    if select:
        params["$select"] = select
    response = requests.get(BASE_URL, params=params)
    response.raise_for_status()
    data = response.json()
    results = data.get("FimaNfipClaims", [])
    return pd.DataFrame(results)

# Example usage: get the first 1000 claims in state FL
df = query_nfip_claims(filter_str="state eq 'FL'", top=5)
print(df.head())

   agricultureStructureIndicator                  asOfDate  \
0                          False  2025-09-09T00:00:00.000Z
1                          False  2025-09-09T00:00:00.000Z
2                          False  2025-09-09T00:00:00.000Z
3                          False  2025-09-09T00:00:00.000Z
4                          False  2025-09-09T00:00:00.000Z

   basementEnclosureCrawlspaceType  policyCount crsClassificationCode  \
0                              NaN            1                  None
1                              0.0            1                  None
2                              NaN            1                  None
3                              NaN            1                  None
4                              NaN            1                  None

                 dateOfLoss  elevatedBuildingIndicator  \
0  2009-03-19T00:00:00.000Z                       True
1  2022-09-28T00:00:00.000Z                      False
2  2022-09-28T00:00:00.000Z                      False
3  1993-03-12T00:00:00.000Z                      False
4  2009-04-05T00:00:00.000Z                       True

  elevationCertificateIndicator  elevationDifference  baseFloodElevation  ...  \
0                          None                  1.0                15.8  ...
1                          None                  0.0                 7.0  ...
2                          None                  0.0                 8.0  ...
3                          None                  NaN                 NaN  ...
4                          None                  4.0                69.0  ...

  rentalPropertyIndicator  state           reportedCity  reportedZipCode  \
0                   False     FL  Currently Unavailable            33433
1                   False     FL  Currently Unavailable            33905
2                   False     FL  Currently Unavailable            33981
3                   False     FL  Currently Unavailable            33917
4                   False     FL  Currently Unavailable            32059

   countyCode  censusTract  censusBlockGroupFips  latitude  longitude  \
0       12099  12099007607          120990076071      26.4      -80.1
1       12071  12071030202          120710302022      26.7      -81.7
2       12015  12015030102          120150301021      27.0      -82.2
3       12071  12071020502          120710205023      26.7      -81.9
4       12079  12079110400          120791104001      30.4      -83.2

                                     id
0  a3bf7c3e-b8a1-45ed-9af6-b268734a9908
1  f7d94769-54e0-4cb9-acbf-a219d9b5e309
2  dca11e6a-703c-40d4-b0ee-4bb10b78ab9b
3  4bb75453-2898-4138-9918-8e980c48dc93
4  3bd9a866-1ad6-466e-9a4b-59203cd8f030

[5 rows x 73 columns]

In [ ]:
df = query_nfip_claims(
    filter_str="state eq 'HI'",
    top=None,
    select="state,amountPaidOnBuildingClaim,amountPaidOnContentsClaim,yearOfLoss,floodEvent"
)
print(df.head())

# Fill missing values with 0
df["amountPaidOnBuildingClaim"] = df["amountPaidOnBuildingClaim"].fillna(0)
df["amountPaidOnContentsClaim"] = df["amountPaidOnContentsClaim"].fillna(0)

# Compute total
df["totalPaid"] = df["amountPaidOnBuildingClaim"] + df["amountPaidOnContentsClaim"]
print(df.head())

  state  amountPaidOnBuildingClaim  amountPaidOnContentsClaim  yearOfLoss  \
0    HI                        NaN                        NaN        2005
1    HI                   54818.25                    9934.11        1983
2    HI                   19892.31                       0.00        1982
3    HI                    1275.42                       0.00        1985
4    HI                    1414.67                       0.00        2024

  floodEvent
0       None
1       None
2   Flooding
3       None
4       None
  state  amountPaidOnBuildingClaim  amountPaidOnContentsClaim  yearOfLoss  \
0    HI                       0.00                       0.00        2005
1    HI                   54818.25                    9934.11        1983
2    HI                   19892.31                       0.00        1982
3    HI                    1275.42                       0.00        1985
4    HI                    1414.67                       0.00        2024

  floodEvent  totalPaid
0       None       0.00
1       None   64752.36
2   Flooding   19892.31
3       None    1275.42
4       None    1414.67

In [ ]:
# df = query_nfip_claims(
#     filter_str="state eq 'HI'",
#     top=None,
#     select="state,amountPaidOnBuildingClaim,amountPaidOnContentsClaim,yearOfLoss,floodEvent,reportedZipCode"
# )
df = query_nfip_claims(
    filter_str="",
    top=None,
    select="state,amountPaidOnBuildingClaim,amountPaidOnContentsClaim,yearOfLoss,floodEvent,reportedZipCode"
)
print(df.head())

# Fill missing values with 0
df["amountPaidOnBuildingClaim"] = df["amountPaidOnBuildingClaim"].fillna(0)
df["amountPaidOnContentsClaim"] = df["amountPaidOnContentsClaim"].fillna(0)

# Compute total
df["totalPaid"] = df["amountPaidOnBuildingClaim"] + df["amountPaidOnContentsClaim"]
print(df.head())

  state  amountPaidOnBuildingClaim  amountPaidOnContentsClaim  yearOfLoss  \
0    TX                   50000.00                   20000.00        2017
1    VA                   12843.93                    4428.58        2003
2    FL                        NaN                        NaN        2009
3    LA                        NaN                        NaN        2005
4    LA                     206.05                       0.00        1995

          floodEvent reportedZipCode
0   Hurricane Harvey           77429
1   Hurricane Isabel           23508
2               None           33433
3  Hurricane Katrina           70003
4           Flooding           70094
  state  amountPaidOnBuildingClaim  amountPaidOnContentsClaim  yearOfLoss  \
0    TX                   50000.00                   20000.00        2017
1    VA                   12843.93                    4428.58        2003
2    FL                       0.00                       0.00        2009
3    LA                       0.00                       0.00        2005
4    LA                     206.05                       0.00        1995

          floodEvent reportedZipCode  totalPaid
0   Hurricane Harvey           77429   70000.00
1   Hurricane Isabel           23508   17272.51
2               None           33433       0.00
3  Hurricane Katrina           70003       0.00
4           Flooding           70094     206.05

In [ ]:
BASE_URL = "https://www.fema.gov/api/open/v2/FimaNfipClaims"

def query_nfip_claims(filter_str=None, top=1000, skip=0, select=None):
    params = {
        "$top": top,
        "$skip": skip
    }
    if filter_str:
        params["$filter"] = filter_str
    if select:
        params["$select"] = select
    response = requests.get(BASE_URL, params=params)
    response.raise_for_status()
    data = response.json()
    results = data.get("FimaNfipClaims", [])
    return pd.DataFrame(results)

def get_payment_amounts(zip_code, date_of_loss):
  df = query_nfip_claims(
      filter_str=f"reportedZipCode eq '{zip_code}' and yearOfLoss eq {date_of_loss}",
      top=None,
      select="state,amountPaidOnBuildingClaim,amountPaidOnContentsClaim,yearOfLoss,floodEvent"
  )
  df["amountPaidOnBuildingClaim"] = df["amountPaidOnBuildingClaim"].fillna(0)
  df["amountPaidOnContentsClaim"] = df["amountPaidOnContentsClaim"].fillna(0)

  # Compute total
  df["totalPaid"] = df["amountPaidOnBuildingClaim"] + df["amountPaidOnContentsClaim"]
  return df

df = get_payment_amounts(77429, 2017)
print(df)

    state  amountPaidOnBuildingClaim  amountPaidOnContentsClaim  yearOfLoss  \
0      TX                   50000.00                   20000.00        2017
1      TX                  174042.00                   46958.00        2017
2      TX                  103420.65                    7789.53        2017
3      TX                   18899.67                       0.00        2017
4      TX                  123774.31                   44967.77        2017
..    ...                        ...                        ...         ...
995    TX                    5214.34                       0.00        2017
996    TX                  110434.90                   29024.69        2017
997    TX                   97659.02                   87583.63        2017
998    TX                       0.00                       0.00        2017
999    TX                  150530.25                   43568.34        2017

           floodEvent  totalPaid
0    Hurricane Harvey   70000.00
1    Hurricane Harvey  221000.00
2    Hurricane Harvey  111210.18
3    Hurricane Harvey   18899.67
4    Hurricane Harvey  168742.08
..                ...        ...
995  Hurricane Harvey    5214.34
996  Hurricane Harvey  139459.59
997  Hurricane Harvey  185242.65
998  Hurricane Harvey       0.00
999  Hurricane Harvey  194098.59

[1000 rows x 6 columns]

In [ ]:
def get_all_flood_event_counts():
    """Retrieve all unique floodEvent types and their counts across the dataset."""
    all_data = []
    top = 1000
    skip = 0

    while True:
        df = query_nfip_claims(top=top, skip=skip, select="floodEvent")
        if df.empty:
            break
        all_data.append(df)
        skip += top

    full_df = pd.concat(all_data, ignore_index=True)
    counts = full_df["floodEvent"].value_counts(dropna=False)
    return counts

# Example usage
flood_event_counts = get_all_flood_event_counts()
print(flood_event_counts)